<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209178874115-c3c2ab54b88cljav0upnhvblcagr5koq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209178874115-c3c2ab54b88cljav0upnhvblcagr5koq</string>
	<key>API_KEY</key>
	<string>AIzaSyC8zRBzpWvw2CHqcfv8njDPhQKHRDN_w5E</string>
	<key>GCM_SENDER_ID</key>
	<string>209178874115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zmjy.NotifTutorial</string>
	<key>PROJECT_ID</key>
	<string>zmjy-mytutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>zmjy-mytutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209178874115:ios:701693f6b55e087470d936</string>
	<key>DATABASE_URL</key>
	<string>https://zmjy-mytutorial.firebaseio.com</string>
</dict>
</plist>